
.body {
    margin: auto;
    width: 800px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.introduction {
    max-width: 800px;
}

#top {
    text-align: center;
}

ul {
    list-style-type: none;
    margin-bottom: 15px;
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
}

img {
    width: 250px;
}

.subtitle {
    max-width: 800px;
    margin-bottom: 20px;
}

.description {
    max-width: 450px;
}

.topbottom {
    margin-top: 20px;
    margin-bottom: 50px;
    clear: both;
}

.leftside {
    float: left;
    padding-top: 20px;
}

.rightside {
    float: right;
}

.leftside li {
    text-align: left;
}


@media only screen and (max-width: 800px) {
    .body {
        margin: auto;
        width: 300px;
    } 
    
    img {
        width: 250px;
    }

    .subtitle {
        max-width: 700px;
    }
    
    .description {
        max-width: 700px;
    }
}
